<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Ariana Rodas | Front-End Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="static\images\logo.jpg" alt="Chaoo" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpg" alt="Ariana Rodas" class="profile-pic nav-link" />
              <span class="caption nav-link">Ariana Rodas</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-dev"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link">Buy Me Coffee</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Ariana Rodas</h2>
          <h3>{Front-End Web Developer}</h3>
          <p> Ingeniera en Negocios</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Get In Touch</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">My Projects</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile.jpg" alt="Chaoo" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2> Hola  </h2>
          <p>
            Mi nombre es Meybel Ariana Pineda Rodas. Inicie mis estudios en ESEN en el año 2019, actualmente estoy cursando el tercer año de Ingenieria en Negocios,
            En este periodo he adquirido diversos conocimientos entre los que se encuentran, la creacion de y administracion  de bases de datos, proyectos entre otras cosas que aplicare en mi vida como profecional
          </p>
          </div>
      </div>
      <hr />
    </section>

   <div class="about-text-box">
    <h2>Servicios </h2>
    </div>
    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
         <img src="/static/images/maquinaria.jpg" alt="Chaoo Charles" class="about-pic" />
        </div>
        <div class="about-text-box">
         
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>Web Development</h2>
            <p>
              En mi vida profecional pienso dedicarme a la area de optimización de procesos, para que las empresas con mi ayuda puedan ser lo más eficientes, sin dejar de lado la calidad 
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>Responsive Design</h2>
            <p>
              Por otro lado tambien  me gustaria dedicarme al area de finanzas o proyectos de una empresa, en el cual pueda poner en practica todo mi conocimiento adquirido
            </p>
          </div>
          <!-- 
                <div class="tier-item">
                  <i class="fa fa-file-code-o" aria-hidden="true"></i>
                  <h2>PSD to HTML</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                    quasi earum, debitis exercitationem quod labore quae, saepe
                    voluptatum fugiat placeat iste, numquam maxime? Aliquam
                    explicabo, reiciendis corrupti voluptatum eum esse?
                  </p>
                </div>
                -->
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>proyectos</h2>
        <p>algunos de los proyectos en los que he trabajado</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/sppms.png" />
        </div>
        <div class="project-description">
          <h2>Project Progress Management System</h2>
          <p>
            En el desarrollo y el uso de base de datos en sql,ademas de la programación en el lenguaje Python y java. 
      
          <a href="https://github.com/alexia-avelar/EntregaFinalProyecto_Coatl" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>


    <section id="contact" class="contact">
      <h2>Get In Touch</h2>
      <p>
        Les dejo algunos medios en los cuales me pueden contactar y asi estemos en comunicacion
      </p>
      <p>
        <i>For gig and advertising opportunities, begin your subject with
          <strong>"Gig"</strong></i>
      </p>
      <div class="container">
        <p>
          <a href="mailto:arirodas02@gmail.com"><i class="fas fa-envelope-open"></i> gmail</a>
        </p>
        <p>
          <a href="https://www.youtube.com/channel/UCCIsSH-pRsSfvjF3XfI1wTQ" <i class="fas fa-envelope-open"></i> youtube</a>
        </p>
        <p>
          <a href="https://www.instagram.com/rodas_ari/" "><i class="fab fa-dev"> Insta</i></a>
        </p>
        
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Services</a>
        <a href="projects" class="footer-nav-link">Projects</a>
        <a href="#contact" class="footer-nav-link">Contact</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💙 by Ariana Rodas &copy; 2020
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="mailto:arirodas02@gmail.com"><i class="fas fa-envelope-open"></i>gmail</a>
        </p>
        <p>
          <a href="https://www.youtube.com/channel/UCCIsSH-pRsSfvjF3XfI1wTQ" <i class="fas fa-envelope-open"></i> youtube</a>
        </p>
        <p>
          <a href="https://www.instagram.com/rodas_ari/" "><i class="fab fa-dev"> Insta</i></a>
        </p>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>